################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

## MacOS X Desktop Services
.DS_Store

## Visual Studio Code
.vscode
